*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
.venv
generated_cv*
.vscode
chrome_profile
answers.json
.env
python-dotenv
python-dotenv.py
login_info.py

# Ignore secrets file
data_folder/secrets.yaml
secrets.yaml